{{!-- Loop over each event in the events array --}}
{{#each events as |event| }}
    <li>
        <a href='/dashboard/{{event.id}}' class='waves-effect'>
            {{event.title}}
            <i class='material-icons left'>event</i>
        </a>
    </li>
{{/each}}