<li>
    <a
        href='mailto:andrew.ronchetto@me.com'
        class='waves-effect'
        target='_blank'
    >
        Event 1
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a href='tel:+18322698051' class='waves-effect' target='_blank'>
        Event 2
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a
        href='mailto:andrew.ronchetto@me.com'
        class='waves-effect'
        target='_blank'
    >
        Event 1
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a href='tel:+18322698051' class='waves-effect' target='_blank'>
        Event 2
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a
        href='mailto:andrew.ronchetto@me.com'
        class='waves-effect'
        target='_blank'
    >
        Event 1
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a href='tel:+18322698051' class='waves-effect' target='_blank'>
        Event 2
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a
        href='mailto:andrew.ronchetto@me.com'
        class='waves-effect'
        target='_blank'
    >
        Event 1
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a href='tel:+18322698051' class='waves-effect' target='_blank'>
        Event 2
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a
        href='mailto:andrew.ronchetto@me.com'
        class='waves-effect'
        target='_blank'
    >
        Event 1
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a href='tel:+18322698051' class='waves-effect' target='_blank'>
        Event 2
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a
        href='mailto:andrew.ronchetto@me.com'
        class='waves-effect'
        target='_blank'
    >
        Event 1
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a href='tel:+18322698051' class='waves-effect' target='_blank'>
        Event 2
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a
        href='mailto:andrew.ronchetto@me.com'
        class='waves-effect'
        target='_blank'
    >
        Event 1
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a href='tel:+18322698051' class='waves-effect' target='_blank'>
        Event 2
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a
        href='mailto:andrew.ronchetto@me.com'
        class='waves-effect'
        target='_blank'
    >
        Event 1
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a href='tel:+18322698051' class='waves-effect' target='_blank'>
        Event 2
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a
        href='mailto:andrew.ronchetto@me.com'
        class='waves-effect'
        target='_blank'
    >
        Event 1
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a href='tel:+18322698051' class='waves-effect' target='_blank'>
        Event 2
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a
        href='mailto:andrew.ronchetto@me.com'
        class='waves-effect'
        target='_blank'
    >
        Event 1
        <i class='material-icons left'>event</i>
    </a>
</li>
<li>
    <a href='tel:+18322698051' class='waves-effect' target='_blank'>
        Event 2
        <i class='material-icons left'>event</i>
    </a>
</li>