<div class="navbar-fixed">
    <nav class="navbar grey darken-2">
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">Last Moment</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/dashboard">App</a></li>
                <li><a href="/">Help</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>