<ul id="sideNav" class="sidenav sidenav-fixed">
    <li>
        <div class="grey darken-2 valign-wrapper sideNavDiv">
            <a class="brand-logo"><span class="white-text valign-wrapper sideNavHeader"><i class="material-icons">filter_center_focus</i>Last Moment</span></a>
        </div>
    </li>
    <li>
        <a href="/" id="home" class="waves-effect sidenav-close" tabindex="0">
            Home
            <i class="material-icons left">home</i>
        </a>
    </li>
    <li>
        <a href="#" id="logout" class="waves-effect sidenav-close" tabindex="0">
            Help
            <i class="material-icons left">help</i>
        </a>
    </li>
    <li>
        <a href="#" id="logout" class="waves-effect sidenav-close" tabindex="0">
            Contact
            <i class="material-icons left">perm_phone_msg</i>
        </a>
    </li>
    <li>
        <a href="#" id="logout" class="waves-effect sidenav-close" tabindex="0">
            Logout
            <i class="material-icons left">eject</i>
        </a>
    </li>
</ul>
