<li>
    <div class="collapsible-header transparent todo-header">
        <i class="material-icons todo-chevron">chevron_right</i>
        Todo Name
        <a class="btn-floating btn-small todo-delete grey">
            <i class="material-icons">delete</i>
        </a>
    </div>
    <div class="collapsible-body">
        <h6>Todo Details</h6>
    </div>
</li>
<li>
    <div class="collapsible-header transparent todo-header">
        <i class="material-icons todo-chevron">chevron_right</i>
        Todo Name
        <a class="btn-floating btn-small todo-delete grey">
            <i class="material-icons">delete</i>
        </a>
    </div>
    <div class="collapsible-body todo-details">
        <h6>Todo Details</h6>
    </div>
</li>
<li>
    <div class="collapsible-header transparent todo-header">
        <i class="material-icons todo-chevron">chevron_right</i>
        Todo Name
        <a class="btn-floating btn-small todo-delete grey">
            <i class="material-icons">delete</i>
        </a>
    </div>
    <div class="collapsible-body">
        <h6>Todo Details</h6>
    </div>
</li>