<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last Moment</title>

        <!-- Links to 3rd Party Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
        <!-- Link to Local Stylesheet -->
        <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
    <header class="no-padding">
        <div class="navbar-fixed">
            <nav class="navbar grey darken-2">
                <div class="container nav-wrapper">
                    <a href="/" class="brand-logo">Last Moment</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">App</a></li>
                        <li><a href="/">Help</a></li>
                        <li><a href="/">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main class="no-padding">
        {{{body}}}
    </main>


    <!-- Links to 3rd Party Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Link to Local Scripts -->
    <script src="/assets/scripts/script.js"></script>
</body>
</html>