<header class="no-padding has-fixed-sidenav">
	{{> sideNav }}
</header>
<main class="no-padding has-fixed-sidenav">
	<div class="navbar-fixed">
		<div class="container">
			<div class="row section">
				<div class="col s12">
					<div class="card teal">
						<div class="card-content white-text">
							<span class="card-title">Event Name</span>
							<p>Event Details</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row section">
				<div class="col s12">
					<div class="card blue">
						<div class="card-content white-text">
							<span class="card-title">
								Plans
								<a class="btn-floating btn-small plans-add grey">
									<i class="material-icons">add</i>
								</a>
							</span>
							<ul class="collapsible z-depth-0 plan">
								{{> plansList }}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>

<script src="/assets/scripts/dashboard.js"></script>
