<header class="no-padding has-fixed-sidenav">
	{{> sideNav }}
</header>
<main class="no-padding">
	<div class="container">
		<div class="row section">
			<div class="col s12">
				
			</div>
		</div>
		<div class="row section">
			<div class="col s12">
				
			</div>
		</div>
		<div class="row section">
			<div class="col s12">
				
			</div>
		</div>
	</div>
</main>