<header class="no-padding has-fixed-sidenav">
	{{> sideNav }}
</header>
<main class="no-padding">
	<div class="section white no-pad-top">
		<div class="section grey darken-2 z-depth-1 hero-image">
			<div class="container valign-wrapper center-align">
				<div class="row">
					<div class="col s12 white-text">
						<h1 class="hero-text">There is no better time than now!</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>