.hero-image {
    background-image: url('../images/hero.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    margin-top: 300px;
    text-shadow: #616161 3px 3px;
}

.login-image {
    background-image: url('../images/login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-screen {
    height: 100vh;
}

.card, .action, .todo {
    border-radius: 20px !important;
}

.todo li:first-child .todo-header  {
    border-radius: 20px 20px 0 0 !important;
}

.todo li:first-child {
    border-radius: 0 0 20px 20px;
}

.todo li:last-child {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.modal-card {
    max-width: 500px;
}

.sideNavDiv {
    min-height: 65px;
}

.sideNavHeader {
    font-size: 2rem;
}

.sideNavHeader > .material-icons {
    margin: 0px 10px;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
    padding: 0 32px;
}

.plan .active .collapsible-header .plan-chevron,
.todo .active .collapsible-header .todo-chevron {
    transform: rotate(90deg);
}

.plan .active .plan-header, .todo .active .todo-header {
    background-color: #1976d2 !important;
}

.plan .active .plan-header {
    border-bottom: none;
}

.generalContainer {
    position: absolute;
    bottom: 75px;
    width: 100%;
}

.col-flat {
    border-left: none;
    border-right: none;
}

.plans-add {
    position: absolute;
    top: 20px;
    right: 35px;
}

.plan-delete {
    position: absolute;
    right: 35px;
}

.plan-badge {
    margin-left: 10px !important;
}

.todo-delete {
    position: absolute;
    right: 65px;
}

/* Change screen when large or greater */
@media screen and (min-width: 993px) {
    .has-fixed-sidenav .navbar-fixed {
        width: calc(100% - 300px);
        left: 300px;
    }

    .nav-mobile {
        display: none;
    }
}

/* Change screen when medium or smaller */
@media screen and (max-width: 992px) {
    .sideNavDiv {
        display: none;
    }
}
