.hero-image {
    background-image: url('../images/hero.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    margin-top: 300px;
    text-shadow: #616161 3px 3px;
}

.login-image {
    background-image: url('../images/login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-screen {
    height: 100vh;
}

.card {
    border-radius: 20px;
}

.modal-card {
    max-width: 500px;
}

.sideNavDiv {
    min-height: 65px;
}

.sideNavHeader {
    font-size: 2rem;
}

.sideNavHeader > .material-icons {
    margin: 0px 10px;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
    padding: 0 32px;
}

.sidenav .collapsible .active .collapsible-header .chevron {
    transform: rotate(90deg);
}

.generalContainer {
    position: absolute;
    bottom: 75px;
    width: 100%;
}

/* Change screen when large or greater */
@media screen and (min-width: 993px) {
    .has-fixed-sidenav .navbar-fixed {
        width: calc(100% - 300px);
        left: 300px;
    }

    .nav-mobile {
        display: none;
    }
}

/* Change screen when medium or smaller */
@media screen and (max-width: 992px) {
    .sideNavDiv {
        display: none;
    }
}
